#contact-button {
  position: fixed;
  top:110px;
  left: 0;
  width: 43px;
  outline: none;
  z-index: 1000;
}
.contact-page{
  position: fixed;
  top: 100px;
  left: -354px;
  padding: 10px 20px 5px 20px;
  border-radius: 5px; -moz-border-radius: 5px; -khtml-border-radius: 5px; -webkit-border-radius: 5px;
  width: 314px;
  color: #FFF;
  z-index: 1000;
  text-align: left;
}
.contact-page { background: #004d83 url(/css/images/contact-background.png) right 0 repeat-y; }
.contact-page .contact-label{
  display: block;
  text-align: left;
}
.contact-page #name, .contact-page #email, .contact-page #subject, 
.contact-page #body, .contact-page #antispam {
  width: 300px;
  padding: 6px;
  margin: 0 0 8px 0;
  border: 1px solid #DDD;
  background: #DFDFDF;
  color: #222;
  border-radius: 3px; -moz-border-radius: 3px; -khtml-border-radius: 3px; -webkit-border-radius: 3px;
  box-shadow: inset 5px 5px 5px #ccc; -moz-box-shadow: inset 5px 5px 5px #ccc; -webkit-box-shadow: inset 5px 5px 5px #ccc; -khtml-box-shadow: inset 5px 5px 5px #ccc;
}
.contact-page #antispam {
  width: 125px;
}
.contact-page #body{
  width: 300px;color: #222; height: 115px;
}
.contact-page #submit{
  background: #DFDFDF;
  border: none;
  padding: 6px 5px;
  border-radius: 3px; -moz-border-radius: 3px; -khtml-border-radius: 3px; -webkit-border-radius: 3px; 
}
.contact-page .message-error{
  padding: 2px 4px;
  color:#DA4310;
  border: 1px solid  #F7A68A;
  border-radius: 5px; -moz-border-radius: 5px; -khtml-border-radius: 5px; -webkit-border-radius: 5px;
  background: #FEF4F1; 
  display: block;
  text-align: center;
}
.contact-page .message-success{
  padding: 2px 4px;
  color: #8FA943;
  border: 1px solid  #C2E1AA;
  border-radius: 5px; -moz-border-radius: 5px; -khtml-border-radius: 5px; -webkit-border-radius: 5px;
  background: #F5FAF1;
  display: block;
  text-align: center;
}
.contact-button-wrap{
  margin-top: 10px; margin-bottom: 10px;
}
.contact-button-wrap img{
  float: right; margin-left: 10px;
}

