/*
  IE 6 & 7- specific rules
*/

/* rotation on the contact link */
#contact_link {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  top: 40%;
}

/* front navigation fix for ie */
body.front #content a {
  cursor: hand;
}


