/* color pallete on http://es-es.colourlovers.com/palette/459343/Dust_in_the_Wind
blue (links, h1, etc): 569DD5

*/

a {
  text-decoration: none;
  color: #559ed5;
}

a:hover {
  text-decoration: none;
  color: #FD4A1D;
}

h1,h2,h3,h4,h5,h6{
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #323232;
}

body {
  background: transparent url('/css/images/background.png') repeat fixed 0 0;
  font-family: Verdana, Geneva, Kalimati, sans-serif;
}

body #header {
  height: 209px;
  position: relative;
  background: transparent url('/css/images/header-background.png') repeat;
}

body.front #header { background: white; }

.container {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 5px 10px #666;
  -moz-box-shadow: 0px 5px 10px #666;
  -box-shadow: 0px 5px 10px #666;
}

body.front .container {
  background: white url('/css/images/front-container-background.png') repeat-x bottom;
}

#header h1{
  width: 239px;
  margin: 0px auto;
  position: relative;
  top: 40px;
}

#header h1 a {
  padding: 98px 0 0 0;
  display: block;
  overflow: hidden;
  background-image: url('/css/images/splendeo-logo.png');
  background-repeat: no-repeat;
  height: 0px !important;
  height /**/:98px;
  width: 239px;
}

#language_switcher{
  position: absolute;
  left: 10px;
  top: 10px;
}

/* navigation */

#navigation {
  text-align: center;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

li.nav_1 { left: 35px; }
li.nav_2 { left: 300px; }
li.nav_3 { left: 540px; }
li.nav_4 { left: 730px; }

#navigation li{
  list-style-type: none;
  display: block;
  height: 51px;
  width: 24%;
  position: absolute;
  bottom: 0;
  padding-top: 10px;
}

#navigation li.current {
  background: transparent url('/css/images/navigation-current-background.png') no-repeat center center;
}

#navigation li a {
  color: #323232;
  padding-left: 10px;
  background: transparent url('/css/images/navigation-bullet.png') no-repeat 0 0.6em;
}

#navigation li a:hover{
  color: #FF3819;
}

#content {
  padding: 10px;
  position: relative;
}

#footer {
  padding: 10px 0;
}

#footer_white{
  background-color: white;
  padding: 0 10px;
}

#footer a{
  color: #6c6c6c;
}

#footer_text{
  float: right;
}

#footer ul{
  float:left;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#footer ul li{
  list-style-type: none;
  padding: 0px 6px;
  display: inline;
  background: transparent url('/css/images/footer-navigation-separator.png') no-repeat right 5px;
}

#footer ul li.first{
  padding-left: 0px;
}

#footer ul li.last{
  padding-right: 0px;
  background: none;
}

#footer ul li.current a{ font-weight: bold; }


/* Page-exclusive styles start here */

/* Front page */
body.front #content {
  height: 30em;
  position: relative;
  padding: 0 0 0 4px;
}
body.front #content a {
  display: block;
  position: absolute;
  top: 20px;
  padding: 12px;
  border: 3px solid transparent;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
body.front #content a:hover{ border-color: #EEE; }

body.front #content a.what-we-do { left: 35px;  }
body.front #content a.who-we-are { left: 255px; }
body.front #content a.projects   { left: 475px; }
body.front #content a.blog       { left: 700px; }

body.front #content div {
  height: 15em;
  width: 181px;
  background-repeat: no-repeat;
  background-position: left bottom;
}
body.front #content a.what-we-do div { background-image: url('/css/images/front/who-we-are.png'); }
body.front #content a.who-we-are div { background-image: url('/css/images/front/what-we-do.png'); }
body.front #content a.projects   div { background-image: url('/css/images/front/projects.png'); }
body.front #content a.blog       div { background-image: url('/css/images/front/blog.png'); }

body.front a h2 {
  font-size: 1.7em;
  color: #323232;
}
body.front a p {
  color: #747474;
}



