/* color pallete on http://es-es.colourlovers.com/palette/459343/Dust_in_the_Wind
blue (links, h1, etc): 569DD5

*/

a { text-decoration: none; }

a:hover { text-decoration: underline; }

h1,h2,h3,h4,h5,h6,a {  color: #569DD5; }

body {
  background: transparent url(/css/images/background.png) repeat fixed 0 0;
}

#header, #content {
  padding: 10px;
}

#header #logo{
  text-align: center;
  display: block;
}

.container {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

#content{
  background-color: white;
}

/* navigation */

#navigation {
  background: transparent url(/css/images/navigation-background.png) repeat;
  text-align: center;
  margin: 0;
  padding: 4px 0 12px 0;
}

#navigation li{
  margin: 0;
  padding: 16px 50px;
  list-style-type: none;
  display: inline;
}

#navigation li a {
  color: #323232;
  font-size: 2em;

}

#navigation li a:hover{
  text-decoration: none;
}

#navigation li.current {
  background: transparent url(/css/images/navigation-current-background.png) no-repeat center center;
}

