/* color pallete on http://es-es.colourlovers.com/palette/459343/Dust_in_the_Wind
blue (links, h1, etc): 569DD5

*/

a { text-decoration: none; }

a:hover { text-decoration: underline; }

h1,h2,h3,h4,h5,h6,a {  color: #569DD5; }

body {
  background: url(/css/images/background.png) repeat transparent;
}

#header, #content {
  padding: 10px;
}

#header #logo{
  text-align: center;
  display: block;
}


.container {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

#content{
  background-color: white;
}

/* navigation */

#navigation {
  padding: 0.65em 0;
  margin: 0;
  text-align: center;
  background: url(/css/images/navigation-background.png) repeat transparent;
  display: block;
}

#navigation li {
  list-style-type: none;
  display: inline;
  padding: 0 2em;
}

#navigation li a {
  color: black;
  font-size: 2em;
}

#navigation li.current a{
  color: #569DD5;
}

