{% assign page_locale = 'es' %}
{% capture url_start %}{{ page.url | truncate : 3, '' }}{% endcapture %}
{% if url_start == '/en' %}{% assign page_locale = 'en' %}{% endif %}

{% assign contact = site.locales[page_locale].contact %}

<div class="dwp-contact-wrapper">
  <div class="dwpcontact-page" style="float: left;">
     
    <p id="success" class="message-success" style="display:none;">{{ contact.thank_you }}</p>

    <p id="bademail" class="message-error" style="display:none;">{{ contact.bad_email }}</p>

    <form id="contact" action="http://contact.splendeo.es/" method="post">
      <label class="contact-label" for="name">{{ contact.name }}</label>
      <input type="text" id="name" name="name" value=""/>
      <div class="clear"></div>
      
      <label class="contact-label" for="email">{{ contact.email }}</label>
      <input type="text" id="email" name="email" value=""/><br />
      <div class="clear"></div>
      
      <label class="contact-label" for="subject">{{ contact.subject }}</label>
      <input type="text" id="subject" name="subject" value=""/><br />
      <div class="clear"></div>
      
      <label class="contact-label" for="comment">{{ contact.body }}</label>
      <textarea cols="20" rows="7" id="body" name="body"></textarea><br />
      <div class="clear"></div>
      
      <label class="contact-label" for="antispam">{{ contact.anti_spam }}</label>
      <input type="text" id="antispam" name="antispam" value=""/>
      
      <input type="submit" id="submit" name="submit" class="submit" value="{{ contact.submit }}"/>
      <input type="hidden" id="locale" name="locale" value="{{ locale }}"/>
    </form>
    <div style="clear: both;"></div>
    <div class="dwp-contact-button-wrap">
      <div style="clear: both;"></div>
    </div>
  </div>
  <a href="{{ contact.link.url }}" id="dwp-contact-button" class="open-contact"><img src="{{ contact.link.image }}" alt="{{ contact.link.text }}" /></a>
  <div style="clear: both;"></div>
</div>
