{% assign page_locale = 'es' %}
{% capture url_start %}{{ page.url | truncate : 3, '' }}{% endcapture %}
{% if url_start == '/en' %}{% assign page_locale = 'en' %}{% endif %}

<script>
  var submitted=false;
  $(document).ready(function(){
    $("#ss-form").validate();
  });
</script>

<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"
 onload="if(submitted) { window.location='{{ site.locales[page_locale].contact.thank_you_url }}';}"></iframe>

<form action="https://spreadsheets.google.com/formResponse?formkey=dFdYSG9SaS1EMjdrc3c2LXY2d0hBbWc6MQ&amp;ifq"
      method="post"
      id="ss-form"
      target="hidden_iframe"
      onsubmit="submitted=true;">
  <input type="hidden" name="pageNumber" value="0">
  <input type="hidden" name="backupCache" value="">
  <div class="form-entry">
    <label class="title" for="entry_0">{{ site.locales[page_locale].contact.email.title }} <span class="required-asterisk">*</span>
    </label>
    <label class="help" for="entry_0">
      {{ site.locales[page_locale].contact.email.help }}
    </label>
    <input type="text" class="required email" name="entry.0.single" value="" id="entry_0"
           title="{{ site.locales[page_locale].contact.email.error }}"></input>
  </div>
  <div class="form-entry">
    <label class="title" for="entry_1">
      {{ site.locales[page_locale].contact.header.title }} <span class="required-asterisk">*</span>
    </label>
    <label class="help" for="entry_1">
      {{ site.locales[page_locale].contact.header.help }}
    </label>
    <input type="text" class="required" name="entry.1.single" value="" id="entry_1"
           title="{{ site.locales[page_locale].contact.header.error }}"></input>
  </div>
  <div class="form-entry">
    <label class="title" for="entry_2">
      {{ site.locales[page_locale].contact.body.title }}<span class="required-asterisk">*</span>
    </label>
    <label class="help" for="entry_2">
      {{ site.locales[page_locale].contact.body.help }}
    </label>
    <textarea class="required" name="entry.2.single" id="entry_2"
              title="{{ site.locales[page_locale].contact.body.error }}"
    ></textarea>
  </div>
  <div class="buttons">
    <input type="submit" name="submit" value="{{ site.locales[page_locale].contact.submit }}">
  </div>
</form>
