{% assign page_locale = 'es' %}
{% capture url_start %}{{ page.url | truncate : 3, '' }}{% endcapture %}
{% if url_start == '/en' %}{% assign page_locale = 'en' %}{% endif %}

<form action="http://contact.splendeo.es/"
  id="ss-form"
  target="hidden_iframe"
  method="POST"
  onsubmit="mark_as_submitted();"
>
  <input type="hidden" name="pageNumber" value="0"></input>
  <input type="hidden" name="backupCache" value=""></input>
  <div class="form-entry">
    <label class="title" for="email_address">{{ site.locales[page_locale].contact.email.title }} <span class="required-asterisk">*</span>
    </label>
    <label class="help" for="email_address">
      {{ site.locales[page_locale].contact.email.help }}
    </label>
    <input type="text" class="required email" name="email_address" value="" id="email_address"
           title="{{ site.locales[page_locale].contact.email.error }}"></input>
  </div>
  <div class="form-entry">
    <label class="title" for="email_subject">
      {{ site.locales[page_locale].contact.subject.title }} <span class="required-asterisk">*</span>
    </label>
    <label class="help" for="email_subject">
      {{ site.locales[page_locale].contact.subject.help }}
    </label>
    <input type="text" class="required" name="email_subject" value="" id="email_subject"
           title="{{ site.locales[page_locale].contact.subject.error }}"></input>
  </div>
  <div class="form-entry">
    <label class="title" for="email_body">
      {{ site.locales[page_locale].contact.body.title }}<span class="required-asterisk">*</span>
    </label>
    <label class="help" for="email_body">
      {{ site.locales[page_locale].contact.body.help }}
    </label>
    <textarea class="required" name="email_body" id="email_body"
              title="{{ site.locales[page_locale].contact.body.error }}"
    ></textarea>
  </div>
  <div class="buttons">
    <input type="submit" name="submit" value="{{ site.locales[page_locale].contact.submit }}">
  </div>
</form>

<div id="ajax-indicator-big" style="display:none;"></div>

<div id="thank-you" style="display:none;">
  {{ site.locales[page_locale].contact.thank_you.text | textilize }}
</div>

<iframe
  id="hidden_iframe"
  name="hidden_iframe"
  style="display:none;"
  onload="show_thank_you_if_submitted();">
></iframe>

