      <div id="footer">
        <div id="footer_white">
          <div id="footer_text">
            {{ site.locales[page_locale].footer.text }}
            {% for legal_link in site.locales[page_locale].footer.legal_link[0] %}
              <a href="{{ legal_link[1] }}">{{ legal_link[0] }}</a>
            {% endfor %}
          </div>
          <ul>
            {% for nav in site.locales[page_locale].navigation %}
              {% assign is_last = forloop.last %}
              {% assign is_first = forloop.first %}
              {% for link in nav %}
                {% capture ugly_url %}{{ link[1] }}index.html{% endcapture %}
                {% if page.url == link[1] or page.url == ugly_url %}
                  {% assign css_class = 'current' %}
                {% elsif page.layout == 'project' and (link[1] == '/en/projects/index.html' or link[1] == '/proyectos/index.html') %}
                  {% assign css_class = 'current' %}
                {% elsif page.layout == 'post' and (link[1] == '/en/blog/index.html' or link[1] == '/blog/index.html') %}
                  {% assign css_class = 'current' %}
                {% endif %}

                <li class="{{ css_class }}{% if is_first %} first{% endif %}{% if is_last %} last{% endif %}">
                  <a href="{{ link[1] }}">{{ link[0] }}</a>
                </li>

                {% assign css_class = nil %}
              {% endfor %}
            {% endfor %}
          </ul>
          <div class='clear'></div>
        </div>
      </div>
    </div>
  </body>
</html>
