      <div class='clear'></div>
      </div> <!-- .body -->
      <div class="foot">
        <div id="footer_white">
          <div id="footer_text">
            {{ site.locales[page_locale].footer.text }}
            {% for legal_link in site.locales[page_locale].footer.legal_link[0] %}
              <a href="{{ legal_link[1] }}">{{ legal_link[0] }}</a>
            {% endfor %}
          </div>
          <ul class='h-list bar-list'>
            {% for link in site.locales[page_locale].navigation %}
              {% capture ugly_url %}{{ link.url }}index.html{% endcapture %}
              {% if page.url == link.url or page.url == ugly_url %}
                {% assign css_class = 'current' %}
              {% elsif page.layout == 'project' and (link.url == '/en/projects/' or link.url == '/proyectos/') %}
                {% assign css_class = 'current' %}
              {% elsif page.layout == 'post' and (link.url == '/en/blog/' or link.url == '/blog/') %}
                {% assign css_class = 'current' %}
              {% endif %}

              <li class="{{ css_class }}{% if forloop.first %} first{% endif %}{% if forloop.last %} last{% endif %}"><a href="{{ link.url }}">{{ link.text }}</a></li>

              {% assign css_class = nil %}
            {% endfor %}
          </ul>
          <div class='clear'></div>
        </div> <!-- footer_white -->
      </div> <!-- footer_text -->
      {% unless page.layout == 'contact-form' %}
        <a id="contact_link"
           href="{{ site.locales[page_locale].contact.link.url }}"
           onclick="show_contact_form('{{ site.locales[page_locale].contact.link.ajax }}'); return false;"
           title="{{ site.locales[page_locale].contact.link.text }}"
        >{{ site.locales[page_locale].contact.link.text }}</a>
      {% endunless %}
    </div> <!-- page -->
  </body>
</html>
