      <div id="footer">
        <div id="footer_white">
          <div id="footer_text">
            {{ site.locales[page_locale].footer.text }}
            {% for legal_link in site.locales[page_locale].footer.legal_link[0] %}
              <a href="{{ legal_link[1] }}">{{ legal_link[0] }}</a>
            {% endfor %}
          </div>
          <ul>
            {% for link in site.locales[page_locale].navigation %}
              {% capture ugly_url %}{{ link.url }}index.html{% endcapture %}
              {% if page.url == link.url or page.url == ugly_url %}
                {% assign css_class = 'current' %}
              {% elsif page.layout == 'project' and (link.url == '/en/projects/' or link.url == '/proyectos/') %}
                {% assign css_class = 'current' %}
              {% elsif page.layout == 'post' and (link.url == '/en/blog/' or link.url == '/blog/') %}
                {% assign css_class = 'current' %}
              {% endif %}

              <li class="{{ css_class }}{% if forloop.first %} first{% endif %}{% if forloop.last %} last{% endif %}">
                <a href="{{ link.url }}">{{ link.text }}</a>
              </li>

              {% assign css_class = nil %}
            {% endfor %}
          </ul>
          <div class='clear'></div>
        </div>
      </div>
    </div>
  </body>
</html>
