{% assign page_locale = 'es' %}
{% capture url_start %}{{ page.url | truncate : 3, '' }}{% endcapture %}
{% if url_start == '/en' %}{% assign page_locale = 'en' %}{% endif %}
<!DOCTYPE HTML>

<html lang="{{page_locale}}" data-url="{{ page.url }}">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />

    {% if page_locale == 'es' %}
    <link href="http://feeds.feedburner.com/splendeo" rel="alternate" title="Splendeo" type="application/atom+xml" />
    {% else %}
    <link href="http://feeds.feedburner.com/en/splendeo" rel="alternate" title="Splendeo's blog" type="application/atom+xml" />
    {% endif %}

    <link rel="stylesheet" href="/css/oocss/oocss.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/style.css">
    {% unless page.layout == 'contact-form' %}
      <link rel="stylesheet" href="/css/contact-form.css">
    {% endunless %}
    <!--[if lt IE 8]><link rel="stylesheet" href="/css/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <!--[if IE 6]><link rel="stylesheet" href="/css/ie6.css" type="text/css" media="screen, projection"><![endif]-->

    <title>{{ site.title }} - {{ page.title }}</title>
    
    <!-- Google Analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-8935563-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    
    <!-- JQuery & JQuery plugins -->
    <script src="/js/jquery-1.5.min.js"></script>
    {% unless page.layout == 'contact-form' %}
      <script src="/js/contact-form.js"></script>
    {% endunless %}
  </head>

  <body class="{{ page.layout }} {{ page_locale }}{% if page.body_class %} {{ page.body_class }}{% endif %}">
    <div class="page shadow">
      <div class="head">
        <div id="language_switcher">
          {% for locale in site.locales %}
            {% assign locale_name = locale[0] %}
            {% assign locale_hash = locale[1] %}
            {% unless locale_name == page_locale %}
              {% if page[locale_name] %}
                {% if page.layout == 'post' %}
                  <a href="{{ locale_hash['path'] }}/blog/{{ page.date | date: '%Y/%m/%d' }}/{{ page[locale_name] }}">{{ locale_hash['name'] }}</a>
                {% else %}
                  <a href="{{ page[locale_name] }}/">{{ locale_hash['name'] }}</a>
                {% endif %}
              {% endif %}
            {% endunless %}
          {% endfor %}
        </div>
        
        <h1 class="splendeo-logo"><a href="{{ site.locales[page_locale].path }}/" title="Splendeo Innovación">Splendeo Innovación</a></h1>

        {% unless page.layout == 'front' %}
          <ul class="navigation line plain">
            {% for link in site.locales[page_locale].navigation %}
              {% assign current = nil %}
              {% capture ugly_url %}{{ link.url }}index.html{% endcapture %}
              {% if page.url == link.url or page.url == ugly_url %}
                {% assign current = ' current' %}
              {% elsif page.layout == 'project' and (link.url == '/en/projects/' or link.url == '/proyectos/') %}
                {% assign current = ' current' %}
              {% elsif page.layout == 'post' and (link.url == '/en/blog/' or link.url == '/blog/') %}
                {% assign current = ' current' %}
              {% endif %}

              <li class="unit size1of4{{current}}{% if forloop.last %} lastUnit{% endif %}">
                <a class="{{ current }}" href="{{ link.url }}">{{ link.text }}</a>
              </li>

              {% assign css_class = nil %}
            {% endfor %}
          </ul>
        {% endunless %}
        

      </div> <!-- .head -->
      <div class="body">

