<!DOCTYPE HTML>

{% assign page_locale = 'es' %}
{% capture url_start %}{{ page.url | truncate : 3, '' }}{% endcapture %}
{% if url_start == '/en' %}{% assign page_locale = 'en' %}{% endif %}
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />

    <link href="http://github.com/splendeo.atom" rel="alternate" title="Splendeo's Activity" type="application/atom+xml" />

    <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print">
    <!--[if lt IE 8]><link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <link rel="stylesheet" href="/css/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection">

    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/style.css">
    <!--[if lt IE 8]><link rel="stylesheet" href="/css/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <!--[if IE 6]><link rel="stylesheet" href="/css/ie6.css" type="text/css" media="screen, projection"><![endif]-->

    <link rel="stylesheet" href="/css/colorbox.css">

    <title>{{ site.title }} - {{ page.title }}</title>
    
    <!-- Google Analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-8935563-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    
    <!-- JQuery & JQuery plugins -->
    <script src="/js/jquery-1.4.3.min.js"></script>
    <script src="/js/jquery.validate-1.7.min.js"></script>
    <script src="/js/jquery.colorbox-1.3.11.min.js"></script> 
  </head>

  <body class="{{ page.layout }} {{ page_locale }}">
    {% unless page.layout == 'contact-form' %}
      <a id="contact_link"
         href="{{ site.locales[page_locale].contact.link.url }}"
         onclick="$.colorbox({  width:'60%', href:'{{ site.locales[page_locale].contact.link.ajax }}' }); return false;"
         title="{{ site.locales[page_locale].contact.link.text }}"
      >{{ site.locales[page_locale].contact.link.text }}</a>
    {% endunless %}

    <div id="container" class="container">
      <div id="header">
        <div id="language_switcher">
          {% for locale in site.locales %}
            {% assign locale_name = locale[0] %}
            {% assign locale_hash = locale[1] %}
            {% unless locale_name == page_locale %}
              {% if page[locale_name] %}
                {% if page.layout == 'post' %}
                  <a href="/blog{{ locale_hash['path'] }}{{ page.date | date: '%Y/%m/%d' }}/{{ page[locale_name] }}">{{ locale_hash['name'] }}</a>
                {% else %}
                  <a href="{{ page[locale_name] }}/">{{ locale_hash['name'] }}</a>
                {% endif %}
              {% endif %}
            {% endunless %}
          {% endfor %}
        </div>
        
        <h1><a href="{{ site.locales[page_locale].path }}/" title="Splendeo Innovación">Splendeo Innovación</a></h1>

        {% unless page.layout == 'front' %}
          <ul id="navigation">
            {% for link in site.locales[page_locale].navigation %}
              {% assign is_current = false %}
              {% capture ugly_url %}{{ link.url }}index.html{% endcapture %}
              {% if page.url == link.url or page.url == ugly_url %}
                {% assign is_current = true %}
              {% elsif page.layout == 'project' and (link.url == '/en/projects/' or link.url == '/proyectos/') %}
                {% assign is_current = true %}
              {% elsif page.layout == 'post' and (link.url == '/en/blog/' or link.url == '/blog/') %}
                {% assign is_current = true %}
              {% endif %}

              <li class="{{ link.class }}">
                <a class="{% if is_current %}current{% endif %}"href="{{ link.url }}"><h2>{{ link.text }}</h2></a>
              </li>

              {% assign css_class = nil %}
            {% endfor %}
          </ul>
        {% endunless %}
        

      </div>

