{% include head.html %}

  <body>
    <div id="container" class="container">
      <div id="header">
        <div>
          {% for locale in site.locales %}
            {% assign locale_name = locale[0] %}
            {% assign locale_hash = locale[1] %}
            {% unless locale_name == page.locale %}
              {% if page[locale_name] %}
                {% if page.layout == 'post' %}
                  <a href="/blog{{ locale_hash['path'] }}{{ page.date | date: '%Y/%m/%d' }}/{{ page[locale_name] }}">{{ locale_hash['name'] }}</a>
                {% else %}
                  <a href="{{ locale_hash['path'] }}{{ page[locale_name] }}">{{ locale_hash['name'] }}</a>
                {% endif %}
              {% endif %}
            {% endunless %}
          {% endfor %}
        </div>

        <a id="logo" href="{{ site.locales[page.locale].path }}" title="Splendeo Innovación"><img src="/images/splendeo-logo.png" alt="Splendeo Innovación" /></a>

      </div>
