{% assign locale = "es" %}{% if page.es %}{% assign locale = "en" %}{% endif %}
      <div class='clear'></div>
      </div> <!-- .body -->
      <div class="foot">
        <div class="white-line media">
          <div class="imgExt">
            {{ site.locales[locale].footer.text }}
            <a href="{{ site.locales[locale].footer.legal.url }}">{{ site.locales[locale].footer.legal.text }}</a>
          </div>
          <ul class='h-list bar-list bd'>
            {% unless page.layout == 'front' %}
              {% for link in site.locales[locale].navigation %}
                {% assign current = nil %}
                {% if page.url == link.url or page.url == link.ugly_url or page.layout == link.layout %}
                  {% assign current = 'current' %}
                {% endif %}
                <li class="{{ current }}{% if forloop.first %} first{% endif %}{% if forloop.last %} last{% endif %}"><a href="{{ link.url }}">{{ link.text }}</a></li>
              {% endfor %}
            {% endunless %}
          </ul>
          <div class='clear'></div>
        </div> <!-- footer_white -->
      </div> <!-- footer_text -->
      {% unless page.layout == 'contact-form' %}
        {% include contact-form.html %}
      {% endunless %}
    </div> <!-- page -->
  </body>
</html>
